body,h1,h2,h3,h4,h5,h6,img,ul,li,input{
  border: 0;
	margin:0;padding: 0;
  font-family: "微软雅黑";
  font-weight: normal;
  list-style: none;
}
/*顶部*/
.top{
	height: 24px;
  border-bottom: 1px solid #ECECEC;
	background: #f6f6f6;
 }
	.top-navigation{
		height: 24px;
    width: 1200px;margin: 0 auto;
	 }
	.top-navigation-left{
		width: 141px;
	    float: left;
	 }
  .top-navigation-left a:hover{
     color: #25B2FE;
  }
	.eg{
		width: 71px;
    text-align: center;
	  float: left;
	 }
	 .kh{
	 	width: 68px;
    border-left: 1px solid #ECECEC;
	 	border-right:1px solid #ECECEC;
	 	text-align: center;
		float: left;
	 }
	 .top-navigation-left a{
	 	 height: 24px;line-height: 24px;
		 text-align: center;text-decoration: none;
	   color: #888888;
	   font-size: 11px;
	 }
	 .top-navigation-right{
	  float: right;
    width: 350px;
	 	font-size:12px;
    text-align: center;
	 }
   .top-navigation-right a{
    float: left;
    padding: 3px 3px;
   }
   .top-navigation-right span{
    float: left;
   }
   .top-navigation-right img{
    float: left;
   }
   .top-navigation-right .select-one{
    float: left;
    width: 59px;
    position: relative;
   }
  .top-navigation-right img{
    vertical-align: middle;
    margin-top: 4px;
   }
   .top-navigation-right span{
    margin-top:2px;
   }
   .select-one .ren1{
    position: absolute;
    left:3px;
    top:0;
   } 
   .select-one .denglu{
    display: block;
    width: 24px;
    height:21px;
    padding: 3px 10px 0 25px;
    float: left;
   }
   .select-one .denglu:hover{
    background: #FFF;
   }
   .denglu span{
    color: #E40077;
   }
   .select-denglu{
    width: 170px;
    height: 90px;
    padding: 15px 0  ;
    position: absolute;
    top:100%;
    left:0;
    background: #fff;
    display: none;
    z-index: 99;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
   }
    .select-denglu .select-nav{
    display: block;
    width: 140px;
    height: 35px;
    line-height: 35px;
    color: #31ADFC;
    background: #fff;
    border: 1px solid #eeeeee;
    margin-top: 5px;
    margin-left:10px;
    font-size: 13px;
   }
   .select-lis1 .select-nav:hover{
    background: #31ADFC;
    color: #fff;
   }
   .select-two{
    width: 95px;
    height: 25px;
    float: left;
    position: relative;
    z-index: 99;
   }
   .select-lis2{
    width: 130px;
    height: 125px;
    background: #fff;
    position: absolute;
    padding: 15px;
    top:24px;
    left: 0;
    font-size: 13px;
    display: none;
    z-index: 998;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
   }
   .select-lis2 img{
    margin-left: 15px;
   }
   .select-lis2 span{
    margin-top:9px;
    color: #666666;
   }
   .select-two .shoujiyingyeting{
    display: block;
    width: 60px;
    padding: 3px 10px 0 25px;
    height: 21px;
    float: left;
    z-index: 997px;
   }
   .select-two .shoujiyingyeting:hover{
    background: #FFF;
   }
   .select-two .xiaoshouji{
    position: absolute;
    left: 10px;
    top:0;
   }
	 .top-navigation-right a{
	 	text-decoration: none;
	 	color: #958888;
	 }

	 .top-navigation-right a:hover{
	 	color: #4C9ED9;
	 }
   .select-denglu a:hover{
    color: #fff;
    background:#31ADFC;
   }
/*logo*/
.logo{
	width: 1200px;
  height: 93px;
  margin: 0 auto;
}
 .picture{
 /*	width: 400px;*/
 height: 93px;float: left;
 }
 .picture img{
 	vertical-align: middle;
 }
	.picture a{
  display: block;
  float: left;
 }
  
  .picture .chengshi{
  width: 43px;
  height: 25px;
  font-size: 14px;
  height: 25px;
  margin-top: 35px;
  margin-left: 15px;
  float: left;
  position: relative;
 }
 .picture .chengshi img{
   position: absolute;
   top:7px;
   left:32px;
 }
 .dropdown-menu{
  position: absolute;
  top:100%;
  background: #fff;
  left:0;
  width: 540px;
  height: 66px;
  padding: 10px 20px;
  z-index: 100000;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  display: none;
 }
 .dropdown-menu .xiahuaxian a:hover{
  text-decoration: underline;
  color:#5D85D0;
 }
 .dropdown-menu h1{
  height: 21px;
  width: 500px;
  font-size: 12px;
  font-weight: normal;
  margin-top: 10px;

 }
 .dropdown-menu h1 span{
  float: left;
 }
 .dropdown-menu h1 a{
  padding: 0 10px;
  text-decoration: none;
  color: #666666;
 }
  .dropdown-menu .colorBlue{
    color:#5D85D0;
  }
 .search{
 	width: 627px;
  height: 70px;
  float: right;
 }
 .search-top{
 	width: 575px;float: left;
 }
.byllb{
	margin-top: 15px;
	padding: 0;
  border: 2px solid #DFDFDF;
	width: 490px;
  height: 32px;
	border-right:0;
	font-size: 12px;
	color:#999999;
	float: left;
  line-height: 32px; 
}
.ss{
	width: 75px;
  padding: 0;
  border: 0;
	background: #25B2FE;height: 36px;
	float: left;margin-top: 15px;
}
.search-bottom{
    width:490px;height: 12px;
    font-size: 12px;
    float: left;
     margin-top: 10px;
}
.search-bottom a{
	text-decoration: none;
	color:#666666;float: left;
}
.search-bottom a:hover{
  color: #25B2FE;
  text-decoration: underline;
}
.search-bottom .serb{
	margin-left: 20px;
}
.search-bottom .guomanzhuanqu{
	margin: 0;color: #E40077;
}
/*导航*/
.navigation{
	 width: 1200px;height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    background: #E4E4E4;
    position: relative;
   
}
.navigation a{
    text-decoration: none;
    color:#776688;display: block;
}
.nav{ 
    width: 259px;
    height: 40px;
    border-left: 1px solid #fff;
    float: left;
    text-decoration: none;
}        
.nav a{
  color: #666666;
}
.nav-shouye{
  width: 160px;
  border-left: 0;
  border-top: 2px solid #0085D0;
  height: 38px;
}
 .nav a:hover{
  background:#F3F3F3;
  color:#0085D0; 
}	
.nav .xiala{
  width:1200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top:100%;
  left:0;
  display: none;
  z-index: 999;
}
 .xiala .xiala_nav{
  width: 14%;
  height: 40px;
  float: left;
  text-align: center;
  background: #fff;
}
.xiala .xiala_nav a{
  width: 100%;
  height: 40px;
  font-size: 15px;
}
.xiala_nav a:hover{
  color: #29A7FE;
  background: #fff;
}
/*banner*/
.banner{
	margin:0 auto;
	width: 1200px;
  height: 349px;
	margin-top: 5px;

}
.left-banner{
  width: 138px;
  height: 348px;
  text-align: center;
  padding-left: 10px; 
  padding-right: 10px;
  border: 1px solid #B8D9E9;
  float: left;
         
 }
.left-banner .yw{
  height: 62px;width: 100%;
  border-top: 1px solid #E9E9E9;
  line-height: 62px;
  font-size: 15px;
  position: relative;
  }
.left-banner a{
    text-decoration: none;
    color: #333333;
    margin-top: 20px;
}
.left-banner .zhi{
    height: 32px;
    border-top:0;
    line-height: 32px;
    font-size: 11px;
}

.left-banner a:hover{
    color: #40A3DB;
}
.left-banner img{
  position: absolute;
  top:20px;
  left:15px;
  
}

.middle-banner{
width: 740px;height: 350px;
float: left;
position: relative;
margin-right: 10px;
margin-left: 10px;
overflow: hidden;
  }	

.middle-banner a{
display: block;
float: left;
position: absolute;
left: 100%;
top:0;
}	
	
.middle-banner img{
	width: 740px;
  height: 350px;

}
.middle-banner .first{
  position: absolute;
  left: 0;
  top:0;
  
} 
.banner-left,.banner-right{
  position:absolute;
	color: #fff;
  text-align: center;
  line-height: 70px;
	top:140px;
  }

.banner-left{
	width: 30px;
  height: 70px;
  left:0;
	font-size: 27px;
  font-family: "宋体";
  font-weight: bold;
  background: #000;
  filter:alpha(opacity=40);
 background: rgba(0,0,0,0.4);
}
.banner-right{
width: 30px;
height: 70px;
right: 0;
font-size:27px;
font-family: "宋体";
font-weight: bold;
background: #000;
filter:alpha(opacity=40);
background:rgba(0,0,0,0.4);
}
.circle{
width: 160px;
height: 15px;
position: absolute;
left: 305px;
bottom: 8px;
padding: 0;
margin: 0;
}

.circle-li{
width: 15px;
height: 15px;
background: #D2D1CF;
margin-left: 4px;
float: left;
list-style:none;
border-radius: 50%;
padding: 0;
}
.cir-first{
background: #E40077;
}
.right-banner{
height: 348px;
width:277px; 
border: 1px solid #DFDFDF;
float: left;
}
.right-banner-t{ 
height: 180px;
text-align: center;
}

.right-banner-t .jx{
  height: 75px;
  width: 92px;
  font-size: 13px;
  float:left;
  text-align: center;
  margin-top: 15px;
}

.right-banner-t .last {
  margin: 0;
  width: 87px;
  margin-left: 5px;
  margin-top: 3px;
}
.right-banner-t .jx a{
  text-decoration: none;
  color: #4E4E4E;
}
.right-banner-t .jx span{
   display: block;
}
.right-banner-t .jx img{
margin-bottom: 5px;
}
.right-banner-b{
  margin-top: 9px;
  height: 170px;
  padding: 0 20px;
}
.right-banner-b .chongzhi{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  height: 12px;
}
.right-banner-b .chongzhi a{
text-decoration:none;
color: #000;

}
.right-banner-b .chongzhi a:hover{
text-decoration: underline;
color: #0085D0;
}
.right-banner-b .chongzhi .jf{
float: left;
 
}
.right-banner-b .chongzhi .dz{
float: right;
color: red;

}
.right-banner-b .shoujihao input {
margin-top: 5px;
height: 34px;width: 234px;
border: 1px solid #DADADA;
color: #DADADA;padding: 0;
line-height: 34px;
border-radius: 3px;
}
.right-banner-b .jiaofei {
margin-top: 10px;
height: 35px;
width: 235px;

}

.right-banner-b .jiaofei input{
  width: 44px;
  margin-right: 3px;
  height: 35px;
  float: left;
  text-align: center;
  font-size: 11px;
  border: 1px solid #DADADA;
  border-radius: 2px;
}
.right-banner-b .jiaofei .last{
margin-right: 0px;
}  
.right-banner-b .jiaofei .yibaiyuan{
  background: #E40077;
  border: 0;
  color: #fff;
}
.right-banner-b .jiaofei :hover{
background:#E40077; 
border:#E40077; 
color: #fff; 
} 
.right-banner-b .lijichongzhi{
margin-top: 10px;
/*margin-top: 10px; */
margin-left: 73px;
}
.right-banner-b .lijichongzhi input{
width: 90px;
height: 35px;
background:  #25B2FE;
border: 0;
color: #fff;
float: left;
text-align: center;
border-radius: 2px;
}  
    
  /*轮播图*/
.carousel{
  height: 160px;
  width: 1180px;
  border: 10px solid #DFDFDF;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  overflow: hidden;
}
.carousel-back{
  width:1475px;
  height: 160px; 
  position: absolute;
  left: 0;
  top:0;
  float: left;
}
.carousel-kuang{
  width: 1180px;
  height: 100%;
}
.car-area{
  float: left;
  height: 160px;
  width: 285px;
  border-left:5px solid #DFDFDF;
  border-right:5px solid #DFDFDF;
  position: relative;  
}
.carousel a{
  display: block;
  float: left;
  text-decoration: none;
  color: #000;
}
.car-area h1{
margin-top:4px;
font-size: 18px;
margin-left: 20px;
color:#333333;
font-weight: bold;
}
.car-area h2{
margin-top: 1px;
font-size: 12px;
margin-left: 20px;
color: #666666; 
}
.car-area img{
  height: 110px;
  width: 235px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.carousel-left,.carousel-right{
  width: 40px;
  height: 50px;
  background: #ccc;
  font-size: 20px;
  color: #fff;
  position: absolute;
  line-height: 50px;
  text-align: center;
  background: rgba(223,223,223,0.8);
}
.carousel-left{
  top:55px;
  left:-10px;
}
.carousel-right{
  top:55px;
  right:-10px;
}
    /*4G*/
.zone{
  width: 1200px;
  height: 425px;
  margin: 0 auto;
  margin-top: 10px;
  border-top: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
}
.zone-top{
  width: 1199px;
  height: 47px;
  border-bottom:1px solid #DFDFDF;
  border-right:1px solid #DFDFDF; 
  line-height: 47px;
}
.zone-top span{
  font-size: 15px;
  color: #0085D8;
  float: left;
  font-weight: bold;
    margin-left: 20px;
}
.zone-top a{
  font-size: 12px;
  color: #666666;
  float: right;
  margin-right: 20px;
  text-decoration: none;
}
.zone-bottom{
    width: 1200px;
    height: 378px;
}
.zone-left{
  width: 299px;
  height:379px ;
  float: left;
  border-bottom:1px solid #DFDFDF;
  border-right:1px solid #DFDFDF; 
}
.zone-left img{
  width: 299px;
  height: 379px;
  float: left;
}
.zone-right a{
  display: block;
  float: left;
  width: 299px;
  height: 189px;
  border-bottom:1px solid #DFDFDF;
  border-right:1px solid #DFDFDF; 
  position: relative;
  text-decoration: none;
  color: #333333;
}
.zone-right .block{
  background: #EFEFEF;
}
.zone-right img{
     position: absolute;
     left:78px;
     bottom: 0;
}
.zone-right h1{
    margin-top:10px;
    margin-left: 20px;
    font-size: 18px;
}
.zone-right h2{
  margin-top:5px;
    margin-left: 20px;
    font-size: 12px;
}
.zone-right .block h1{
  color: #E60077;
}
.zone-right .block h2{
  color: #888888;
}
 /*买手机*/
.phone{
  width: 1198px;height: 428px;
  border: 1px solid #DFDFDF;
  margin: 0 auto;margin-top:10px
}
.phone-t{
  width: 1198px;height: 48px;
  line-height: 48px;
  border-bottom: 1px solid #DFDFDF;
}
.phone-t span{
  font-size:13px; font-weight: bold;
  float: left;
  margin-left:20px;
  color: #0085D0;
}
.phone-t a{
  font-size: 11px;
  text-decoration: none;
  float: right;
  margin-right: 20px;
  color: #666666;
}
.phone-b{
  width: 1198px;
  height: 380px; 
}
.phone-b a{
  display: block;
  float: left;
  width: 298px;
  height: 380px;
  border-right: 1px solid #DFDFDF;
  text-decoration: none;
  color: #66667A;
  position: relative; 

}
.phone-b .R{
  position: absolute;
  right: 30px;
  top:20px;
}
.phone-b .hw-plus{
  border-right: 0;
  width: 299.5px;
}

.phone-b h2{
  height: 20px;width: 278px;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 20px;
  color: #8F6666;
}

.phone-b h3{
  height: 20px;
  width: 278px;
  font-size: 11px;
  color: #5D85D4;
  margin-left: 20px; 
  margin-top: 5px;
}
.phone-b h1{
  height: 25px;
  width: 67px;
  font-size: 15px;
  margin-left: 20px;
  margin-top: 5px;
  color: #EF33A2;
}
.phone-b .shouji-pic{
  position: absolute;
  bottom:5px;
  left:78px;
}
/*业务推荐*/
.ywtj{
  width: 1200px;
  height: 425px;
  margin: 0 auto;
  margin-top: 10px;
  border-top: 1px solid #DFDFDF;
  border-left: 1px solid #DFDFDF;
}
.ywtj-top{
  width: 1199px;
  height: 47px;
  border-bottom:1px solid #DFDFDF;
  border-right:1px solid #DFDFDF; 
  line-height: 47px;
}
.ywtj-top span{
  font-size: 15px;
  color: #0085D8;
  float: left;
  font-weight: bold;
    margin-left: 20px;
}
.ywtj-top a{
  font-size: 12px;
  color: #666666;
  float: right;
  margin-right: 20px;
  text-decoration: none;
}
.ywtj-bottom{
    width: 1200px;
    height: 378px;
}
.ywtj-left{
  width: 299px;
  height:379px ;
  float: left;
  border-bottom:1px solid #DFDFDF;
  border-right:1px solid #DFDFDF; 
}
.ywtj-left img{
  width: 299px;
  height: 379px;
  float: left;
}
.ywtj-right a{
  display: block;
  float: left;
  width: 299px;
  height: 189px;
  border-bottom:1px solid #DFDFDF;
  border-right:1px solid #DFDFDF; 
  position: relative;
  text-decoration: none;
  color: #333333;
}
.ywtj-right img{
     position: absolute;
     left:78px;
     bottom: 0;
}
.ywtj-right h1{
    margin-top:10px;
    margin-left: 20px;
    font-size: 18px;
}
.ywtj-right h2{
  margin-top:5px;
    margin-left: 20px;
    font-size: 12px;
}
/*公告*/
.gonggao{
    width: 1198px;
    height: 26px;
    border: 1px solid #DFDFDF;
    margin: 0 auto;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 13px; 
  }
  .gonggao img{
    float: left;
    margin-left: 20px;
    width: 22px;
    /*vertical-align: middle;
*/  }
 .gonggao a{
  float: left;
  text-decoration: none;color:#0085D0;
 }
 .gonggao-turn{
  width: 1000px;
  height: 100%;
  position: relative;
  float: left;
 }
  .gonggao a:hover{
    text-decoration: underline;
    color:#0085D0; 
  }
  .gonggao-turn-lis{
    position: absolute;
    top:0;
    left: 0;
    display: none;
  }
  .gonggao-turn-first{
    display: block;
  }
  .speak{
    float: left;
    margin-left:7px; 
  }
  .paiming{
    float: left;
    margin-left:30px; 
  }
  .riqi{
    float: left;
    margin-left: 100px;
    color: #CCCCCC; 
  }
  .jiaoyuye{
    float: left;
    margin-left:65px; 
  }
   
  .dayu{
    float:right;
    width: 20px;
    height: 20px;
    margin-left:40px;
  }
  .xiaoyu{
    float: right;
     width: 20px;
    height: 20px;
    margin-left: 10px;
  }
/*<!-- 页脚 -->*/
.footer{
    width: 1164px;
    height: 202px;
    border: 1px solid #DFDFDF;
   margin: 0 auto;
   margin-top: 10px;
   padding-top: 27px;
   padding-left: 34px; 
 }

.footer .zi{
    height: 202px;
    width: 233px;float: left;
  }
.footer .last{
    width: 232px;
 }
.footer .zi .biaoti{
     height: 13px;width:232px;
     font-weight: bold;
  }
.footer .zi span{
  color: #666666;
  font-size: 13px; 
}
.footer .zi .diyi{
   height: 13px;
   width:232px; 
   margin-top: 13px;
 }
.footer .zi .dier{
    margin-top: 13px;
    height: 14px;
    width:232px;
 }
.footer .zi .disan{
    margin-top: 13px;
    height: 14px;
    width:232px;
 }
.footer .zi .disi{
    margin-top: 13px;
    height: 14px;
    width:232px;
 }
.footer .zi .diwu{
    margin-top: 13px;
    height: 14px;
    width:232px;
 }
.footer .zi .diliu{
    margin-top: 13px;
    height: 14px;
    width:232px;
 }
.footer .zi a{
    text-decoration: none;
    font-size: 13px;color: #666666;
 }
 .footer .zi a:hover{
  text-decoration: underline;
  color: #0085D0;
}
/*最下*/
.zuixia .yi{
    width: 700px;
    height: 11px;
    margin: 0 auto;
    margin-top: 31px;
    color: #666666;
 }
.zuixia .yi a{
    text-decoration: none;
    font-size: 12px;
    color: #666666;
  }
.zuixia .er{
    width: 570px;
    height: 12px;
    margin: 0 auto;
    margin-top: 20px;
    color: #666666;
    font-size: 12px;
 }
.zuixia .er a{
    text-decoration: none;
    color: #666666;
 }

.zuixia .san{
    width: 240px;
    height: 14px;
    margin: 0 auto;
    margin-top: 18px;
    color: #666666;
    font-size: 12px
  }

.zuixia .si{
    width: 430px;
    height: 10px;
    margin: 0 auto;
    margin-top: 23px;
    color: #666666;
    font-size: 12px
 }
.zuixia .wu{
    width: 296px;
    height: 47px;
    margin: 0 auto;
    margin-top: 21px;
 }
.zuixia .wu .da{
    vertical-align: middle;
  }
.zuixia .wu .xiao{
    margin-left: 23px;
    vertical-align: middle;
 }
.zuixia .wu a{
    text-decoration: none;
    color: #666666;
    font-size: 12px
  }
.zuixia a:hover{
  text-decoration: underline;
  color: #0085D0;
}

.guding-top{
  position: fixed;
  right: 0;
  bottom: 180px;
  *position:absolute;
  *top:expression(eval(document.documentElement.scrollTop+200));
  *html{
    background-image:url(blank:about);
    background-attachment:absolute;
   }

}
.guding-4{
  position: fixed;
  right: -80px;
  bottom: 40px;
  *position:absolute;
  *top:expression(eval(document.documentElement.scrollTop+340));
  *html{
    background-image:url(blank:about);
    background-attachment:absolute;
    }
}
.guding-1{
  position: fixed;
  right: -20px;
  bottom: 120px;
  *position:absolute;
  *top:expression(eval(document.documentElement.scrollTop+360));
  *html{
    background-image:url(blank:about);
    background-attachment:absolute;
    }
}
.guding-2{
  position: fixed;
  right: -20px;
  bottom: 90px;
  *position:absolute;
  *top:expression(eval(document.documentElement.scrollTop+390));
  *html{
    background-image:url(blank:about);
    background-attachment:absolute;
    }
}
.guding-3{
  position: fixed;
  right:-20px;
  bottom:60px;
  *position:absolute;
  *top:expression(eval(document.documentElement.scrollTop+420));
  *html{
    background-image:url(blank:about);
    background-attachment:absolute;
    }
}







    






